<%include common/header.html %>
<div class="mainContainer">
    <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-6 am-thumbnails tagList">
    </ul>

    <div class="am-g am-container" style="background: #1E5B94; color: #fff;padding: 10px 0px 10px 0px;">
        <div class="am-u-lg-12">
            <div class="am-g">
                <div class="am-u-lg-6 am-u-md-8 am-u-sm-12" data-am-scrollspy="{animation:'slide-left', repeat: false}">
                    <h4>分享，学习，成长</h4>
                    <p>期待你加入社区</p>
                    <p>为了一个想法：我要结果</p>
                </div>
                <div class="am-u-lg-6 am-u-md-4 am-u-sm-12"
                     data-am-scrollspy="{animation:'slide-right', repeat: false}">
                    <form class="am-form">
                        <input id="name" type="text" placeholder="请输入姓名" style="width: 300px;"/>
                        <input id="name" type="text" placeholder="请输入姓名" style="width: 300px;margin-top: 10px;"/>
                        <input id="email" type="email" placeholder="请输入邮箱" style="width: 300px; margin-top: 10px;"/>
                        <button type="submit" class="am-btn am-btn-primary am-btn-sm" style="margin-top: 10px;"><i
                                class="am-icon-check"></i> 登 录
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div  class="am-g" style="margin-top: 10px;">
        <div class="am-u-lg-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="am-u-lg-8" style="padding-left: 0px; padding-right: 0px;">
                <ul class="am-nav am-nav-tabs">
                    <li class="am-active tab1"><a href="#">最新</a></li>
                    <li class="tab2"><a href="#" >热门</a></li>
                    <!--<li><a href="#">十万火急</a></li>-->
                </ul>
                <div class="am-tabs-bd" style="border: 0px;padding-left: 0px;">
                    <div class="am-in am-active" id="tab1">
                    </div>
                    <div class="am-in am-active" id="tab2">
                    </div>
                </div>
            </div>

            <%include common/right.html %>
        </div>
    </div>




    <!--
    <div class="am-g">
        <div class="am-u-lg-12">
            <div class="am-u-lg-8 am-u-md-4 am-u-sm-12">
                <div class="am-tabs" data-am-tabs>
                    <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active tab1"><a href="#tab1">最新</a></li>
                        <li class="tab2"><a href="#tab2">热门</a></li>
                        <li class=""><a href="#tab3">十万火急</a></li>
                    </ul>

                    <div class="am-tabs-bd" style="border: 0px;padding-left: 0px;">
                        <div class="am-tab-panel am-fade am-in am-active" id="tab1">

                        </div>
                        <div class="am-tab-panel am-fade" id="tab2">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    -->
</div>
<%include common/footer.html %>

<link rel="stylesheet" href="/css/index.css"/>
<script src="/js/index.js"></script>
</body>
</html>
