
<style>
    .get {
        background: #1E5B94;
        color: #fff;
        text-align: center;
        padding-top: 20px;
    }

    .get-title {
        font-size: 200%;
        border: 2px solid #fff;
        padding: 20px;
        display: inline-block;
    }

    .get-btn {
        background: #fff;
    }
</style>
<%include common/header.html %>
<body>
<div class="get">
    <div class="am-g">
        <div class="am-u-lg-12">
            <h1 class="get-title">乐于分享，共同进步，一起成长</h1>
        </div>
    </div>
</div>
<div class="am-g" style="margin-top: 60px;">
    <div class="am-u-lg-5 am-u-md-8 am-u-sm-centered">
        <h1>登录</h1>
        <hr>
        <div class="am-btn-group">
            <a href="#" class="am-btn am-btn-secondary am-btn-sm githublogin"><i class="am-icon-github am-icon-sm"></i> Github</a>
            <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i> Google+</a>
            <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> stackOverflow</a>
        </div>
        <br>
        <br>

        <!--
        <form method="post" class="am-form">
            <input type="text" placeholder="请输入用户名" name="" id="email"/>
            <br>
            <input type="password" placeholder="请输入密码" name="" id="password"/>
            <br>
            <br />
            <div class="am-cf">
                <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
                <input type="submit" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
            </div>
        </form>
        -->
    </div>
</div>
<%include common/footer.html %>
<script src="/js/login.js"></script>
</body>
</html>
