body{
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
    font-size: 14px;
    line-height: 1.42858;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

.footer{
    margin-top: 20px;
}
.footer p {
    color: #7f8c8d;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    background: #2d3e50;
}

.userImage{
    width: 100px;
    height: 100px;
    background-color:red;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}