<%include ../common/header.html %>

    <div class="am-container">
        <br/>
        <div class="am-g">
            <div class="am-u-lg-8 questionDiv" id="questionAnswerDiv">
                <div class="questionNameDiv">
                    <div style="border-bottom: 2px solid blue; margin-bottom: 10px;">
                        <a class="questionName"></a>
                    </div>
                    <div>
                        <label class="tagTitle">标签:</label>
                        <span class="tagName am-badge am-badge-primary" ></span>
                    </div>
                </div>
                <div class="solutionList">
                    <!--
                    <div id="test-editormd-view" style="border: 1px solid rgb(221, 221, 221);">
                        <textarea style="display:none;" name="test-editormd-markdown-doc">###Hello world!</textarea>
                    </div>
                    -->

                </div>

                <button type="button" class="am-btn am-btn-primary">默认样式</button>
                <br/>
                <br/>
            </div>

            <div class="am-u-lg-4">
                <div class="am-panel-group">
                    <section class="am-panel am-panel-default">
                        <div class="am-panel-hd"><a class="questionName"></a></div>
                        <div class="am-panel-bd">
                            <p>点赞</p>
                            <a class="am-btn am-btn-success am-btn-sm" href="#">查看更多 →</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
<input type="hidden" id="questionId" value="<%= questionId %>">
<%include ../common/markdown.html%>
<%include ../common/footer.html %>
<link rel="stylesheet" href="/css/question/questionInfo.css"/>
<script src="/js/question/questionInfo.js"></script>
</body>
</html>
