<%include ../common/header.html %>
<div class="mainContainer">
    <div  class="am-g">
        <input type="hidden" class="tagId" value="<%=tagId%>"/>
        <div class="am-u-lg-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="am-u-lg-8" style="padding-left: 0px; padding-right: 0px;">
                <div class="mainTagInfo">
                    <span class="tagName">
                    </span>
                </div>
                <ul class="am-nav am-nav-tabs" style="margin-top: 0px;">
                    <li class="am-active tab1"><a class="am-icon-stack-overflow" href="javascipt:void(0)">&nbsp;问题</a></li>
                </ul>
                <div class="am-tabs-bd" style="border: 0px;padding-left: 0px;">
                    <div class="am-in am-active" id="tab1">
                    </div>
                    <div class="am-in am-active" id="tab2">
                    </div>
                </div>
            </div>

            <%include ../common/right.html %>
        </div>
    </div>
</div>
<%include ../common/footer.html %>
<link rel="stylesheet" href="/css/question/questionList.css"/>
<script src="/plug/showdown/showdown.min.js"></script>
<script src="/js/question/questionList.js"></script>
</body>
</html>
