<%include ../common/header.html %>
<div class="mainContainer">
    <div  class="am-g">
        <div class="am-u-lg-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="am-u-lg-9" style="padding-left: 0px; padding-right: 0px;">
                <div class="am-tabs-bd" style="border: 0px;padding-left: 0px;" id="tagList">
                </div>
            </div>
            <%include ../common/right.html %>
        </div>
    </div>
</div>
<%include ../common/footer.html %>
<link rel="stylesheet" href="/css/question/tagList.css"/>
<script src="/plug/showdown/showdown.min.js"></script>
<script src="/js/question/tagList.js"></script>
</body>
</html>
