<%include ../common/header.html %>
<div class="mainContainer" style="background-color: rgb(250,250,250);padding-top: 10px;padding-bottom: 5px;">
    <h1>文章列表</h1>

    <div id="tableList" style="background-color: green;">
    </div>
    <ul class="am-list admin-sidebar-list" id="collapase-nav-1">

    </ul>

    <ul id="pagination" data-am-widget="pagination" class="am-pagination am-pagination-default">
        <!--
        <li class="am-pagination-first ">
            <a href="#" class="">第一页</a>
        </li>

        <li class="am-pagination-prev ">
            <a href="#" class="">上一页</a>
        </li>


        <li class="">
            <a href="#" class="">1</a>
        </li>
        <li class="am-active"><a href="#" class="am-active">2</a></li>
        <li class="">
            <a href="#" class="">3</a>
        </li>
        <li class="">
            <a href="#" class="">4</a>
        </li>
        <li class="">
            <a href="#" class="">5</a>
        </li>


        <li class="am-pagination-next ">
            <a href="#" class="">下一页</a>
        </li>

        <li class="am-pagination-last "><a href="#" class="">最末页</a></li>
        -->
    </ul>


</div>
<input type="text" class="tagId" id="tagId" value="<%=tagId%>"/>
<%include ../common/footer.html %>
<link rel="stylesheet" href="/css/question/tagList.css"/>
<script src="/js/article/articleList.js"></script>
</body>
</html>
