<link href="/plug/markdown/css/editormd.css" rel="stylesheet" />
<link href="/plug/markdown/css/editormd.logo.css" rel="stylesheet" />
<link href="/plug/markdown/css/editormd.preview.css" rel="stylesheet" />
<script src="/plug/markdown/lib/marked.min.js"></script>
<script src="/plug/markdown/lib/prettify.min.js"></script>
<script src="/plug/markdown/lib/raphael.min.js"></script>
<script src="/plug/markdown/lib/underscore.min.js"></script>
<script src="/plug/markdown/lib/sequence-diagram.min.js"></script>
<script src="/plug/markdown/lib/flowchart.min.js"></script>
<script src="/plug/markdown/lib/jquery.flowchart.min.js"></script>
<script src="/plug/markdown/editormd.js"></script>

